@font-face {
  src: url("/brief/assets/Font Used/Raleway-Light.ttf");
  font-family: rale-light;
}

@font-face {
  src: url("/brief/assets/Font Used/Raleway-Regular.ttf");
  font-family: rale-reg;
}

@font-face {
  src: url("/brief/assets/Font Used/Raleway-Bold.ttf");
  font-family: rale-bold;
}

@font-face {
  src: url("/brief/assets/Font Used/Raleway-Medium.ttf");
  font-family: rale-med;
}

body {    
  margin: 0 !important;
  padding: 0 !important;
  font-family: rale-med;

  /* Defining theme colours */
  --orange-1: #febc2e;
  --orange-2: #f07131;
}

.header {
  font-family: rale-bold;
  font-size: 2.5em;
}

.header--orange-1 {
  color: var(--orange-1);
}

.mainsection {
  background-image: url("/brief/assets/Wallpaper.png");
  background-size: auto;
  background-repeat: no-repeat;
  font-family: rale-light;
  color: white;
  height: 600px;
}

.subsection {
  margin: 10em 100px;
}

.subsection__summary {
  margin: 6em 5em;
  font-family: rale-med;
}

.logo-text {
  font-family: rale-reg;
}

.logo-img {
  height: 3em;
  margin: 1em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.card {
  flex: 1;
  margin: 2em;
}

.card__icon {
  height: 5em;
  width: 5em;
}

.card__header {
  font-family: rale-bold;
}

.card__body {
  font-family: rale-med;
}

.footer {
  background-color: var(--orange-1);
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.mainsection__img {
  height: 500px;
}

#img-phone {
  width: 25%;
  margin: 0px 6em;
}

/* Since images have a transparent strip around their edges,
   we draw a border around the non-transparent parts them with... */
.mainsection__img,
#img-phone {
  -webkit-filter: drop-shadow(1px 1px 0 lavender)
                  drop-shadow(-1px -1px 0 lavender);
  filter: drop-shadow(1px 1px 0 lavender) 
          drop-shadow(-1px -1px 0 lavender);
}
